<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b0c79d8457.js" crossorigin="anonymous"></script>
    <title>Travel Planner</title>
</head>
<body>
    <header><h1>Travel Planner</h1></header>
    <nav>
        <button><i class="fa-solid fa-sort"></i> Sort</button>
        <button><i class="fa-solid fa-file-pdf"></i> PDF</button>
        <button><i class="fa-solid fa-eraser"></i> Clear</button>
        <button class="addblue"><i class="fa-solid fa-plus"></i> Add</button>
    </nav>
    <main>
    </main>


    <footer>

    </footer>


    <!-- Add new Destination Modal -->
    <div id="addNewDestination" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Add New Trip</h3>
            <form>
                <div class='row'><label for="destination">Destination: </label><input type="text" name="destination" id="destination" placeholder="add destination here..."></div>
            
            </form>
        </div>
        </div>
</body>
</html>