<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b0c79d8457.js" crossorigin="anonymous"></script>
    <title>Travel Planner</title>
</head>
<body>
    <header><h1>Travel Planner</h1></header>
    <nav>
        <button class="sort"><i class="fa-solid fa-sort"></i> Sort</button>
        <button class="print"><i class="fa-solid fa-print"></i> Print</button>
        <button class="clear"><i class="fa-solid fa-eraser"></i> Clear</button>
        <button class="addblue" id="homeadd"><i class="fa-solid fa-plus"></i> Add</button>
    </nav>
   
   <main></main>
    <footer>

    </footer>


    <!-- Add new Destination Modal -->
    <div id="addNewDestination" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Add New Trip</h3>
            <form>
                <div class='row'><label for="destination">Destination: </label><input type="text" name="destination" id="destination" placeholder="add city/postcode here..." required></div>
                <div class='row'><label for="country">Country: </label><input type="text" name="country" id="country" placeholder="destination country..." required></div>
                <div class='row'><label for="arrivaldate">Arrival Date: </label><input type="date" name="arrivaldate" id="arrivaldate" required></div>
                <div class='row'><label for="arrivaltime">Arrival Time: </label><input type="time" name="arrivaltime" id="arrivaltime"></div>
                <div class='row'><label for="flight">Flight: </label><input type="text" name="flight" id="flight"></div>
                <div class='buttonrow'>
                    <button class="addblue" id="modaladdtrip"><i class="fa-solid fa-plus"></i> Add</button>
                    <button class="cancel"><i class="fa-solid fa-xmark"></i> Cancel</button>
                </div>
            </form>
        </div>
        </div>
</body>
</html>